<!-- Navbar Header -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 navbar-main">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" alt="ShieldWise Security" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>

          <!-- Services Dropdown -->
          <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <a class="dropdown-item" href="/services/armed-security">Armed Security</a>
                            <a class="dropdown-item" href="/services/unarmed-security">Unarmed Security</a>
                            <a class="dropdown-item" href="/services/commercial-security">Commercial Security</a>
                            <a class="dropdown-item" href="/services/apartment-security">Apartment Security</a>
                            <a class="dropdown-item" href="/services/event-security">Event Security</a>
                            <a class="dropdown-item" href="/services/construction-security">Construction Security</a>
                            <a class="dropdown-item" href="/services/patrol">Mobile Patrol</a>
                            <a class="dropdown-item" href="/services/fire-watch">Fire Watch</a>
                            <a class="dropdown-item" href="/services/executive-protection">Executive Protection</a>
                            <a class="dropdown-item" href="/services/hospital-security">Hospital Security</a>
                            <a class="dropdown-item" href="/services/hotel-security">Hotel Security</a>
                            <a class="dropdown-item" href="/services/educational-campus-security">Educational Campus Security</a>
                            <a class="dropdown-item" href="/services/shopping-center-security">Shopping Center Security</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="citiesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Service Areas
                        </a>
                        <div class="dropdown-menu mega-menu" aria-labelledby="citiesDropdown">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6 class="dropdown-header">Orange County</h6>
                                        <a class="dropdown-item" href="/cities/aliso-viejo">Aliso Viejo Security</a>
                                        <a class="dropdown-item" href="/cities/anaheim">Anaheim Security</a>
                                        <a class="dropdown-item" href="/cities/brea">Brea Security</a>
                                        <a class="dropdown-item" href="/cities/buena-park">Buena Park Security</a>
                                        <a class="dropdown-item" href="/cities/costa-mesa">Costa Mesa Security</a>
                                        <a class="dropdown-item" href="/cities/cypress">Cypress Security</a>
                                        <a class="dropdown-item" href="/cities/dana-point">Dana Point Security</a>
                                        <a class="dropdown-item" href="/cities/fountain-valley">Fountain Valley Security</a>
                                        <a class="dropdown-item" href="/cities/fullerton">Fullerton Security</a>
                                        <a class="dropdown-item" href="/cities/garden-grove">Garden Grove Security</a>
                                        <a class="dropdown-item" href="/cities/huntington-beach">Huntington Beach Security</a>
                                        <a class="dropdown-item" href="/cities/irvine">Irvine Security</a>
                                        <a class="dropdown-item" href="/cities/la-habra">La Habra Security</a>
                                        <a class="dropdown-item" href="/cities/la-palma">La Palma Security</a>
                                        <a class="dropdown-item" href="/cities/laguna-beach">Laguna Beach Security</a>
                                        <a class="dropdown-item" href="/cities/laguna-hills">Laguna Hills Security</a>
                                        <a class="dropdown-item" href="/cities/laguna-niguel">Laguna Niguel Security</a>
                                        <a class="dropdown-item" href="/cities/laguna-woods">Laguna Woods Security</a>
                                        <a class="dropdown-item" href="/cities/lake-forest">Lake Forest Security</a>
                                        <a class="dropdown-item" href="/cities/los-alamitos">Los Alamitos Security</a>
                                        <a class="dropdown-item" href="/cities/mission-viejo">Mission Viejo Security</a>
                                        <a class="dropdown-item" href="/cities/newport-beach">Newport Beach Security</a>
                                        <a class="dropdown-item" href="/cities/orange">Orange Security</a>
                                        <a class="dropdown-item" href="/cities/placentia">Placentia Security</a>
                                        <a class="dropdown-item" href="/cities/rancho-santa-margarita">Rancho Santa Margarita Security</a>
                                        <a class="dropdown-item" href="/cities/san-clemente">San Clemente Security</a>
                                        <a class="dropdown-item" href="/cities/san-juan-capistrano">San Juan Capistrano Security</a>
                                        <a class="dropdown-item" href="/cities/santa-ana">Santa Ana Security</a>
                                        <a class="dropdown-item" href="/cities/seal-beach">Seal Beach Security</a>
                                        <a class="dropdown-item" href="/cities/stanton">Stanton Security</a>
                                        <a class="dropdown-item" href="/cities/tustin">Tustin Security</a>
                                        <a class="dropdown-item" href="/cities/villa-park">Villa Park Security</a>
                                        <a class="dropdown-item" href="/cities/westminster">Westminster Security</a>
                                        <a class="dropdown-item" href="/cities/yorba-linda">Yorba Linda Security</a>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="dropdown-header">Los Angeles County</h6>
                                        <a class="dropdown-item" href="/cities/alhambra">Alhambra Security</a>
                                        <a class="dropdown-item" href="/cities/arcadia">Arcadia Security</a>
                                        <a class="dropdown-item" href="/cities/artesia">Artesia Security</a>
                                        <a class="dropdown-item" href="/cities/avalon">Avalon Security</a>
                                        <a class="dropdown-item" href="/cities/azusa">Azusa Security</a>
                                        <a class="dropdown-item" href="/cities/baldwin-park">Baldwin Park Security</a>
                                        <a class="dropdown-item" href="/cities/bell">Bell Security</a>
                                        <a class="dropdown-item" href="/cities/bellflower">Bellflower Security</a>
                                        <a class="dropdown-item" href="/cities/bell-gardens">Bell Gardens Security</a>
                                        <a class="dropdown-item" href="/cities/beverly-hills">Beverly Hills Security</a>
                                        <a class="dropdown-item" href="/cities/bradbury">Bradbury Security</a>
                                        <a class="dropdown-item" href="/cities/burbank">Burbank Security</a>
                                        <a class="dropdown-item" href="/cities/calabasas">Calabasas Security</a>
                                        <a class="dropdown-item" href="/cities/carson">Carson Security</a>
                                        <a class="dropdown-item" href="/cities/cerritos">Cerritos Security</a>
                                        <a class="dropdown-item" href="/cities/claremont">Claremont Security</a>
                                        <a class="dropdown-item" href="/cities/commerce">Commerce Security</a>
                                        <a class="dropdown-item" href="/cities/compton">Compton Security</a>
                                        <a class="dropdown-item" href="/cities/covina">Covina Security</a>
                                        <a class="dropdown-item" href="/cities/cudahy">Cudahy Security</a>
                                        <a class="dropdown-item" href="/cities/culver-city">Culver City Security</a>
                                        <a class="dropdown-item" href="/cities/diamond-bar">Diamond Bar Security</a>
                                        <a class="dropdown-item" href="/cities/downey">Downey Security</a>
                                        <a class="dropdown-item" href="/cities/duarte">Duarte Security</a>
                                        <a class="dropdown-item" href="/cities/el-monte">El Monte Security</a>
                                        <a class="dropdown-item" href="/cities/el-segundo">El Segundo Security</a>
                                        <a class="dropdown-item" href="/cities/gardena">Gardena Security</a>
                                        <a class="dropdown-item" href="/cities/glendale">Glendale Security</a>
                                        <a class="dropdown-item" href="/cities/glendora">Glendora Security</a>
                                        <a class="dropdown-item" href="/cities/hawaiian-gardens">Hawaiian Gardens Security</a>
                                        <a class="dropdown-item" href="/cities/hawthorne">Hawthorne Security</a>
                                        <a class="dropdown-item" href="/cities/hermosa-beach">Hermosa Beach Security</a>
                                        <a class="dropdown-item" href="/cities/hidden-hills">Hidden Hills Security</a>
                                        <a class="dropdown-item" href="/cities/huntington-park">Huntington Park Security</a>
                                        <a class="dropdown-item" href="/cities/industry">Industry Security</a>
                                        <a class="dropdown-item" href="/cities/inglewood">Inglewood Security</a>
                                        <a class="dropdown-item" href="/cities/irwindale">Irwindale Security</a>
                                        <a class="dropdown-item" href="/cities/la-canada-flintridge">La Cañada Flintridge Security</a>
                                        <a class="dropdown-item" href="/cities/la-habra-heights">La Habra Heights Security</a>
                                        <a class="dropdown-item" href="/cities/lakewood">Lakewood Security</a>
                                        <a class="dropdown-item" href="/cities/la-mirada">La Mirada Security</a>
                                        <a class="dropdown-item" href="/cities/lancaster">Lancaster Security</a>
                                        <a class="dropdown-item" href="/cities/la-puente">La Puente Security</a>
                                        <a class="dropdown-item" href="/cities/la-verne">La Verne Security</a>
                                        <a class="dropdown-item" href="/cities/lawndale">Lawndale Security</a>
                                        <a class="dropdown-item" href="/cities/lomita">Lomita Security</a>
                                        <a class="dropdown-item" href="/cities/long-beach">Long Beach Security</a>
                                        <a class="dropdown-item" href="/cities/los-angeles">Los Angeles Security</a>
                                        <a class="dropdown-item" href="/cities/lynwood">Lynwood Security</a>
                                        <a class="dropdown-item" href="/cities/malibu">Malibu Security</a>
                                        <a class="dropdown-item" href="/cities/manhattan-beach">Manhattan Beach Security</a>
                                        <a class="dropdown-item" href="/cities/maywood">Maywood Security</a>
                                        <a class="dropdown-item" href="/cities/monrovia">Monrovia Security</a>
                                        <a class="dropdown-item" href="/cities/montebello">Montebello Security</a>
                                        <a class="dropdown-item" href="/cities/monterey-park">Monterey Park Security</a>
                                        <a class="dropdown-item" href="/cities/norwalk">Norwalk Security</a>
                                        <a class="dropdown-item" href="/cities/palmdale">Palmdale Security</a>
                                        <a class="dropdown-item" href="/cities/palos-verdes-estates">Palos Verdes Estates Security</a>
                                        <a class="dropdown-item" href="/cities/paramount">Paramount Security</a>
                                        <a class="dropdown-item" href="/cities/pasadena">Pasadena Security</a>
                                        <a class="dropdown-item" href="/cities/pico-rivera">Pico Rivera Security</a>
                                        <a class="dropdown-item" href="/cities/pomona">Pomona Security</a>
                                        <a class="dropdown-item" href="/cities/rancho-palos-verdes">Rancho Palos Verdes Security</a>
                                        <a class="dropdown-item" href="/cities/redondo-beach">Redondo Beach Security</a>
                                        <a class="dropdown-item" href="/cities/rolling-hills">Rolling Hills Security</a>
                                        <a class="dropdown-item" href="/cities/rolling-hills-estates">Rolling Hills Estates Security</a>
                                        <a class="dropdown-item" href="/cities/rosemead">Rosemead Security</a>
                                        <a class="dropdown-item" href="/cities/san-dimas">San Dimas Security</a>
                                        <a class="dropdown-item" href="/cities/san-fernando">San Fernando Security</a>
                                        <a class="dropdown-item" href="/cities/san-gabriel">San Gabriel Security</a>
                                        <a class="dropdown-item" href="/cities/san-marino">San Marino Security</a>
                                        <a class="dropdown-item" href="/cities/santa-clarita">Santa Clarita Security</a>
                                        <a class="dropdown-item" href="/cities/santa-fe-springs">Santa Fe Springs Security</a>
                                        <a class="dropdown-item" href="/cities/santa-monica">Santa Monica Security</a>
                                        <a class="dropdown-item" href="/cities/sierra-madre">Sierra Madre Security</a>
                                        <a class="dropdown-item" href="/cities/signal-hill">Signal Hill Security</a>
                                        <a class="dropdown-item" href="/cities/south-el-monte">South El Monte Security</a>
                                        <a class="dropdown-item" href="/cities/south-gate">South Gate Security</a>
                                        <a class="dropdown-item" href="/cities/south-pasadena">South Pasadena Security</a>
                                        <a class="dropdown-item" href="/cities/temple-city">Temple City Security</a>
                                        <a class="dropdown-item" href="/cities/torrance">Torrance Security</a>
                                        <a class="dropdown-item" href="/cities/vernon">Vernon Security</a>
                                        <a class="dropdown-item" href="/cities/walnut">Walnut Security</a>
                                        <a class="dropdown-item" href="/cities/west-covina">West Covina Security</a>
                                        <a class="dropdown-item" href="/cities/west-hollywood">West Hollywood Security</a>
                                        <a class="dropdown-item" href="/cities/westlake-village">Westlake Village Security</a>
                                        <a class="dropdown-item" href="/cities/whittier">Whittier Security</a>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="dropdown-header">San Bernardino County</h6>
                                        <a class="dropdown-item" href="/cities/san-bernardino">San Bernardino Security</a>
                                        <a class="dropdown-item" href="/cities/fontana">Fontana Security</a>
                                        <a class="dropdown-item" href="/cities/rancho-cucamonga">Rancho Cucamonga Security</a>
                                        <a class="dropdown-item" href="/cities/ontario">Ontario Security</a>
                                        <a class="dropdown-item" href="/cities/victorville">Victorville Security</a>

                                        <h6 class="dropdown-header mt-3">Riverside County</h6>
                                        <a class="dropdown-item" href="/cities/riverside">Riverside Security</a>
                                        <a class="dropdown-item" href="/cities/moreno-valley">Moreno Valley Security</a>
                                        <a class="dropdown-item" href="/cities/corona">Corona Security</a>
                                        <a class="dropdown-item" href="/cities/murrieta">Murrieta Security</a>
                                        <a class="dropdown-item" href="/cities/temecula">Temecula Security</a>

                                        <h6 class="dropdown-header mt-3">San Diego Areas</h6>
                                        <a class="dropdown-item" href="/cities/la-jolla">La Jolla Security</a>
                                        <a class="dropdown-item" href="/cities/mission-bay">Mission Bay Security</a>
                                        <a class="dropdown-item" href="/cities/encinitas">Encinitas Security</a>
                                        <a class="dropdown-item" href="/cities/ocean-beach">Ocean Beach Security</a>
                                        <a class="dropdown-item" href="/cities/barrio-logan">Barrio Logan Security</a>
                                        <a class="dropdown-item" href="/cities/little-italy">Little Italy Security</a>
                                        <a class="dropdown-item" href="/cities/east-village">East Village Security</a>
                                        <a class="dropdown-item" href="/cities/hillcrest">Hillcrest Security</a>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="dropdown-header">Popular Services</h6>
                                        <a class="dropdown-item" href="/services/apartment-security">Apartment Security</a>
                                        <a class="dropdown-item" href="/services/commercial-security">Commercial Security</a>
                                        <a class="dropdown-item" href="/services/event-security">Event Security</a>
                                        <a class="dropdown-item" href="/services/construction-security">Construction Security</a>
                                        <a class="dropdown-item" href="/services/patrol">Mobile Patrol</a>
                                        <a class="dropdown-item" href="/services/fire-watch">Fire Watch</a>

                                        <h6 class="dropdown-header mt-3">Coverage Areas</h6>
                                        <a class="dropdown-item" href="/cities/orange-county">Orange County Security</a>
                                        <a class="dropdown-item" href="/cities/los-angeles">Los Angeles Security</a>
                                        <a class="dropdown-item" href="/cities/riverside-county">Riverside County Security</a>
                                        <a class="dropdown-item" href="/service-areas">View All Areas</a>

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item font-weight-bold text-primary" href="/get-quote">
                                            <i class="fas fa-phone mr-2"></i>Get Free Quote
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

          <!-- Service Areas Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="areasDropdown" role="button" data-toggle="dropdown">Service Areas</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/los-angeles">Los Angeles</a>
              <a class="dropdown-item" href="/orange-county">Orange County</a>
              <a class="dropdown-item" href="/riverside-county">Riverside County</a>
              <a class="dropdown-item" href="/san-bernardino">San Bernardino</a>
              <a class="dropdown-item" href="/san-francisco">San Francisco</a>
              <a class="dropdown-item" href="/san-diego">San Diego</a>
              <a class="dropdown-item" href="/ventura">Ventura</a>
              <a class="dropdown-item" href="/sacramento">Sacramento</a>
              <a class="dropdown-item" href="/santa-clara">Santa Clara</a>
              <a class="dropdown-item" href="/alameda">Alameda</a>
              <a class="dropdown-item" href="/fresno">Fresno</a>
              <a class="dropdown-item" href="/san-jose">San Jose</a>
            </div>
          </li>

          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="/career">Careers</a></li>
        </ul>
        <a href="/get-quote" class="btn btn-danger ml-3">Get a Quote</a>
      </div>
    </div>
  </nav>
</header>

<style>
/* Enhanced Professional Header Styling */

/* JS Script for Navbar scroll effect */
document.addEventListener('DOMContentLoaded', function() {
    var navbar = document.querySelector('.navbar-main');

    window.addEventListener('scroll', function() {
        if (window.scrollY > 50) {
            navbar.classList.add('scrolled');
        } else {
            navbar.classList.remove('scrolled');
        }
    });

    // Initialize Bootstrap dropdowns
    if (typeof jQuery !== 'undefined') {
        jQuery('.dropdown-toggle').dropdown();
        console.log("✅ jQuery Loaded - Dropdowns Active");
    }
});
</style>

<!-- jQuery and Bootstrap JS for Dropdown Functionality -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
  $(document).ready(function() {
    $('.dropdown-toggle').dropdown();
    console.log("✅ jQuery Loaded - Dropdowns Active");
  });
</script>

<!-- JavaScript for Active Navigation Item & Smooth Scrolling -->
<script>
    $(document).ready(function() {
        // Initialize Bootstrap dropdowns
        $('.dropdown-toggle').dropdown();

        // Add active class to current page in navigation
        const currentLocation = window.location.pathname;
        const navLinks = document.querySelectorAll('.navbar-nav .nav-link');
        const menuToggle = document.getElementById('navbarNavDropdown'); // Updated ID

        navLinks.forEach(link => {
            const linkPath = link.getAttribute('href');
            if (linkPath === '/' && currentLocation === '/') {
                link.classList.add('active');
                link.setAttribute('aria-current', 'page');
            } else if (linkPath !== '/' && currentLocation.includes(linkPath)) {
                link.classList.add('active');
                link.setAttribute('aria-current', 'page');
            }
        });

        // Close mobile menu when link is clicked
        $('.navbar-nav .nav-link').on('click', function() {
            if (window.innerWidth < 992) {
                $('.navbar-collapse').collapse('hide');
            }
        });

        // Smooth scrolling for anchor links
        $('a[href^="#"]').on('click', function(e) {
            if (this.hash !== "") {
                e.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 100
                }, 800, function(){
                    window.location.hash = hash;
                });
            }
        });
    });
</script>

<!-- SEO-Optimized Schema Markup -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "ShieldWise Security",
    "url": "https://shieldwisesecurity.com",
    "description": "ShieldWise Security offers professional security solutions, including mobile patrol, event security, and fire watch in California.",
    "telephone": "+1-714-716-7430",
    "email": "info@shieldwisesecurity.com",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "123 Main St",
        "addressLocality": "Los Angeles",
        "addressRegion": "CA",
        "postalCode": "92832",
        "addressCountry": "US"
    },
    "serviceArea": {
        "@type": "Place",
        "name": "California"
    },
    "sameAs": [
        "https://www.facebook.com/shieldwisesecurity",
        "https://twitter.com/shieldwisesecurity",
        "https://www.instagram.com/shieldwisesecurity",
        "https://www.linkedin.com/company/shieldwisesecurity"
    ]
}
</script>

<link rel="stylesheet" href="/css/header-fix.css">
<script src="/JS/header-fix.js" defer></script>

<style>
/* Enhanced Professional Header Styling */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
        }

        header {
            background-color: #343a40;
            padding: 1rem 0;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        }

        .navbar-brand img {
            height: 40px;
            width: auto;
        }

        .navbar-nav .nav-link {
            font-weight: 500;
            color: #fff !important;
            transition: color 0.3s ease;
            padding: 0.5rem 1rem;
        }

        .navbar-nav .nav-link:hover {
            color: #bf9e5b !important;
        }

        .dropdown-menu {
            border: none;
            border-radius: 8px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            margin-top: 0.5rem;
        }

        .dropdown-item {
            padding: 0.5rem 1rem;
            transition: background-color 0.3s ease;
        }

        .dropdown-item:hover {
            background-color: #f8f9fa;
            color: #1a3c6e;
        }

        /* Mega Dropdown Styles */
        .mega-dropdown .dropdown-menu {
            left: 0;
            right: 0;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem;
            border-radius: 12px;
            box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }

        .mega-dropdown .dropdown-header {
            font-weight: 700;
            color: #1a3c6e;
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            border-bottom: 2px solid #bf9e5b;
        }

        .mega-dropdown .dropdown-item {
            font-size: 0.85rem;
            padding: 0.3rem 1rem;
            border-radius: 4px;
            transition: all 0.3s ease;
        }

        .mega-dropdown .dropdown-item:hover {
            background-color: #1a3c6e;
            color: #fff;
            transform: translateX(5px);
        }

        .mega-dropdown .dropdown-item.font-weight-bold {
            background-color: #bf9e5b;
            color: #fff;
            border-radius: 6px;
            margin-top: 1rem;
        }

        .mega-dropdown .dropdown-item.font-weight-bold:hover {
            background-color: #1a3c6e;
            transform: scale(1.02);
        }

        @media (max-width: 991px) {
            .mega-dropdown .dropdown-menu {
                position: static;
                width: 100%;
                box-shadow: none;
                border: 1px solid #e9ecef;
                margin: 0;
                padding: 1rem;
            }

            .mega-dropdown .row {
                margin: 0;
            }

            .mega-dropdown .col-md-3 {
                padding: 0.5rem 0;
            }
        }
</style>