
run = "npm start"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[env]
PATH = "/home/runner/$REPL_SLUG/node_modules/.bin:/home/runner/.nix-profile/bin"

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
  [languages.javascript.languageServer]
  start = ["typescript-language-server", "--stdio"]

[deployment]
run = ["npm", "start"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Run"
author = 24083186

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Start Server"
author = 24083186

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[ports]]
localPort = 3000
externalPort = 80

