[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 24083186

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash -c 'export NVM_DIR=\"$HOME/.nvm\" && [ -s \"$NVM_DIR/nvm.sh\" ] && \\. \"$NVM_DIR/nvm.sh\" && node index.js'"

[deployment]
run = ["sh", "-c", "node index.js"]
