<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https:
            }

            // Core Web Vitals Monitoring
            (function() {
                // LCP monitoring
                new PerformanceObserver((entryList) => {
                    for (const entry of entryList.getEntries()) {
                        console.log('LCP:', entry.startTime);
                    }
                }).observe({entryTypes: ['largest-contentful-paint']});

                // CLS monitoring
                let clsValue = 0;
                new PerformanceObserver((entryList) => {
                    for (const entry of entryList.getEntries()) {
                        if (!entry.hadRecentInput) {
                            clsValue += entry.value;
                        }
                    }
                    console.log('CLS:', clsValue);
                }).observe({entryTypes: ['layout-shift']});
            })();
        </script>
            <!-- Back to Top Button -->
    <a href="#top" id="backToTop" class="back-to-top" aria-label="Back to top">
        <i class="fas fa-arrow-up"></i>
    </a>
    <!-- Back to Top JavaScript -->
    <script src="/JS/back-to-top.js"></script>
</body>
        </html>
