<!DOCTYPE html>
<html lang="en-US" prefix="og: https:
        }

        // Core Web Vitals Monitoring
        (function() {
            // LCP monitoring
            new PerformanceObserver((entryList) => {
                for (const entry of entryList.getEntries()) {
                    console.log('LCP:', entry.startTime);
                }
            }).observe({entryTypes: ['largest-contentful-paint']});

            // CLS monitoring
            let clsValue = 0;
            new PerformanceObserver((entryList) => {
                for (const entry of entryList.getEntries()) {
                    if (!entry.hadRecentInput) {
                        clsValue += entry.value;
                    }
                }
                console.log('CLS:', clsValue);
            })();
        })();
    </script>
    <!-- Back to Top Button -->
    <a href="#top" id="backToTop" class="back-to-top" aria-label="Back to top">
        <i class="fas fa-arrow-up"></i>
    </a>
    <!-- Back to Top JavaScript -->
    <script src="/JS/back-to-top.js"></script>
</body>
</html>